{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bookings.css' %}">
    <title>Your Bookings</title>
</head>
<body>
    <nav class="navbar fixed-top">
            <h1>Your Bookings</h1>
            <div class="menu-toggle">&#9776;</div> <!-- Hamburger icon -->
            <ul id="navbar-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'packages' %}">Packages</a></li>
                {% if user.is_authenticated %}
                <li class="username"><b>Hello, {{ user.first_name }}</b></li>
                <li><a href="{% url 'logout' %}" class="login-button">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="login-button">Login</a></li>
                {% endif %}
            </ul>
    </nav>
     
    <main>
        <h2>Your Bookings</h2>
        {% if bookings %}
            <table class="bookings-table">
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.package.name }}</td>
                        <td>{{ booking.date }}</td>
                        <td>
                            {% if booking.status == 'confirmed' %}
                                <span style="color: green;">Confirmed</span>
                            {% elif booking.status == 'declined' %}
                                <span style="color: red;">Declined</span>
                            {% else %}
                                <span style="color: orange;">Pending</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no bookings yet.</p>
        {% endif %}
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const menuToggle = document.querySelector(".menu-toggle");
          const navMenu = document.querySelector(".navbar ul");
      
          menuToggle.addEventListener("click", function () {
            navMenu.classList.toggle("active");
          });
        });
      </script>
      
</body>
</html>